
 h5 {color:DodgerBlue; }
    h1 {background-color: #98FB98; 
   font-style: italic;
   }
   h3 {
      color:DodgerBlue; 
     font-style: italic;  
    }
  
    p {
      color:DodgerBlue; 
     font-style: italic;  
    }
   img { float: right;}
   body {background-color:#ffccff;}